
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Allan:wght@400;700&family=Inter:wght@100..900&family=Oleo+Script:wght@400;700&display=swap');


.hmain {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    width: auto;
    display: flex ;
    padding-top: 100px;
    height: 100vh;
    
}


.circle-img {
    transition: all 0.3s ease;
    background-color: #8220a595;
    backdrop-filter: blur(1px);
    z-index: 2;
    display: block;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}
.left {
    z-index: 2;
    position: relative;
    margin-right: 80px;
}
.right {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 700px;
    margin-top: -90px;
} 
.right h1 {
    color: white;
    font-size: 60px;
    position: relative;
    
}
.right h1:nth-child(1){
    margin-left: 60px;  
    position: relative;
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}
.right h1:nth-child(2){
    font-family: "Lilita One", sans-serif;
    font-weight: lighter;
  font-style: normal;
}
.right h1:nth-child(3){
    font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 10px;
}
.circle {
    position: relative;
   top: 70px;
   width: 500px;
   height: 500px;
   border-radius: 50%;
   overflow: hidden; 
   display: flex;
   border: 2PX SOLID white;
   overflow: hidden;
 }
 .right {
    position:relative;
    
 }
 .icon { 
    position: relative;
    left: 50px;
    font-size: 70px;
    color: black;
    
 }
.icons {
    color:  #be8cfcb4;
    margin-right: 50px;
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #630585;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 87%;
    width: 139px;
    height: 139px;
    bottom: -139px;
    animation-delay: 0s;
}
.background li:nth-child(1) {
    left: 27%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 0s;
}
.background li:nth-child(2) {
    left: 64%;
    width: 170px;
    height: 170px;
    bottom: -170px;
    animation-delay: 8s;
}
.background li:nth-child(3) {
    left: 17%;
    width: 117px;
    height: 117px;
    bottom: -117px;
    animation-delay: 11s;
}
.background li:nth-child(4) {
    left: 76%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 12s;
}
.background li:nth-child(5) {
    left: 32%;
    width: 107px;
    height: 107px;
    bottom: -107px;
    animation-delay: 25s;
}
.background li:nth-child(6) {
    left: 6%;
    width: 153px;
    height: 153px;
    bottom: -153px;
    animation-delay: 21s;
}
.background li:nth-child(7) {
    left: 88%;
    width: 147px;
    height: 147px;
    bottom: -147px;
    animation-delay: 30s;
}
.background li:nth-child(8) {
    left: 87%;
    width: 117px;
    height: 117px;
    bottom: -117px;
    animation-delay: 16s;
}
.background li:nth-child(9) {
    left: 48%;
    width: 181px;
    height: 181px;
    bottom: -181px;
    animation-delay: 26s;
}
@media  screen and (max-width:1130px) {
    .circle{
        width: 400px;
        height: 400px;
    }

}
@media  screen and (max-width:1030px){
    .circle{
        width: 300px;
        height: 300px;
    }
}

 @media  screen and (max-width:950px) {
    .circle{
        display: none;
    }
  

    
 }
  @media  screen and (max-width:650px){
    .icon { 
        position: relative;
        left: 30px;
        font-size: 40px;
        color: black;
        
    }
    .right {
       position: relative;
       top:     40px;
    }
        .right h1 {
            font-size: 40px;
            position: relative;
            
        }
        .hmain {
            height: 60vh;
        }
 
}
@media  screen and (max-width:445px){
    .left {
        display: none;
    }
    
    .right {
        padding: 10px;
        margin-right: 0;
        
    }
    
    .right h1 {
        font-size: 40px;
        position: relative;
        top: -40px;
        margin-left: 20px;
        
    }
    .circle {
        display: none;
    }
    .icon {
        position: relative;
        margin-top: -40px;
    }
}